GOOGLE_LOCATION=global
GENAI_MODEL_NAME=gemini-3.6-flash
LOG_LEVEL=INFO
MAX_CONCURRENCY=50
WORKER_BATCH_SIZE=50
MAX_ATTEMPTS=3
SCORM_FLAG=false
CLEANUP_RETENTION_DAYS=7
CLEANUP_SCHEDULE_HOUR=3
CLEANUP_SCHEDULE_MINUTE=0

DISABLE_AUTH_VERIFICATION=false
REQUIRED_ROLE=AI_ASSESSMENT_CREATOR

KARMAYOGI_BASE_URL=https://{{domain_name}}
LEARNING_AI_BASE_URL={{ learning_ai_base_url }}
DATABASE_URL={{ ai_assessment_db_dsn }}
GOOGLE_PROJECT_ID={{ ai_assessment_google_project_id }}
KARMAYOGI_API_KEY={{ bearer_token }}
SUNBIRD_SSO_URL=https://{{ domain_name }}/auth/
SUNBIRD_SSO_REALM={{ keycloak_sso_realm }}

KAFKA_REQUEST_TOPIC={{env}}.assessment.request
KAFKA_BOOTSTRAP_SERVERS={{ kafka_servers_list }}
KAFKA_TOPIC={{env}}.assessment.lifecycle.events

GOOGLE_APPLICATION_CREDENTIALS=/app/gcp/gcpaiassessmentcredentials.json

GCS_CREDENTIALS=/app/gcp/gcp_storage_credentials.json
GCS_BUCKET_NAME={{igotai_bucket_name}}
GCS_UPLOAD_PREFIX=ai-assessments/uploads
DOCUMENT_STORAGE_TYPE=gcs

GCS_COURSE_CONTENT_PREFIX="ai-assessments/course-content"
GCS_OUTPUT_PREFIX="ai-assessments/outputs"
