server.port={{ application_port }}
neo4j.maxlevel=4
neo4j.uri={{ neo4j_url }}
neo4j.username={{ neo4j_username }}
neo4j.password={{ neo4j_password }}
neo4j.auth.enable=true
neo.timeout=30

spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379
spring.redis.client-type=lettuce
