server.port={{ application_port }}
bolt.url={{ neo4j_url }}
neo4j.authentication.username={{ neo4j_username }}
neo4j.authentication.password=
neo4j.maxlevel=4
spring.redis.host={{ kp_redis_ip }}
spring.redis.port=6379