SUNBIRD_SSO_URL=https://{{portal_domain_name}}/auth/
SUNBIRD_SSO_REALM={{keycloak_realm_name}}
IS_VALIDATION_ENABLED=True
postgres_db_port=postgresql_port
postgres_db_user={{postgresql_username_sunbird}}
postgres_db_password={{postgresql_password_sunbird}}
postgres_db_name=warehose
postgres_db_host={{postgresql_warehouse_host}}