SUNBIRD_SSO_URL=https://{{portal_domain_name}}/auth/
SUNBIRD_SSO_REALM={{keycloak_realm_name}}
IS_VALIDATION_ENABLED=False
postgres_db_port={{postgresql_port}}
postgres_db_user={{postgresql_warehouse_username}}
postgres_db_password={{postgresql_warehouse_password}}
postgres_db_name={{postgresql_warehouse_db|default('warehose')}}
postgres_db_host={{postgresql_warehouse_host}}
accesstoken_publickey_basepath=/keys/

