server.port={{ application_port }}
server.connection-timeout=5000
server.tomcat.max-threads=2048
server.tomcat.min-spare-threads=20
server.tomcat.max-connections=15000
server.tomcat.accept-count=500

spring.cassandra.startupTimeoutInSeconds=100000
spring.cassandra.contact-points={{ sunbird_cassandra_db_host }}
spring.cassandra.port=9042
spring.cassandra.keyspace-name={{ keyspace_sunbird }}
spring.cassandra.username={{ cassandra_username }}
spring.cassandra.password={{ cassandra_password }}
spring.cassandra.local-datacenter=DC1
sunbird_cassandra_consistency_level=ONE

cassandra.config.host={{ sunbird_cassandra_db_host }}

accesstoken.publickey.basepath=/keys/
sso.url=https://{{ domain_name }}/auth/
sso.realm={{ keycloak_sso_realm }}
sso.connection.pool.size=20
sso.enabled=true

elastic.required.field.community.json.path=/EsFieldsmapping/esRequiredFieldsJsonFilePath.json
search.string.max.regex.length=30

# HTTP Client Configuration
rest.client.connect.timeout=45000
rest.client.read.timeout=45000
rest.client.connection.request.timeout=45000
rest.client.max.connections=2000
rest.client.max.connections.per.route=500

spring.redis.data.host={{ redis_host }}
spring.redis.data.port={{ redis_port }}

user.entity.consumption.allowed.fields=userid,resourceid,last_access_time,last_completed_time,last_updated_time,lastaccesstime,lastcompletedtime,lastupdatedtime,progress,progressdetails,status
content.state.update.required.fields=contentId,status,progressdetails,completionPercentage
id.map.lookup.service.url=http://id-mapping-service:7001
id.map.lookup.bylist=/idmapping/v1/list/lookup
id.map.cache.expiry.time=14400
redis.host={{ kp_redis_ip }}
redis.port=6379
redis.timeout=84600
content-service-host=http://content-service:9000/
content-read-endpoint=content/v4/admin/read
content-read-endpoint-fields=?fields=identifier,courseCategory
content.read.fields=identifier,courseCategory,contentType,posterImage,status,batches,startData,endDate,name,appIcon,resourceType,primaryCategory,languageMapV1,channel,organisation,creatorLogo,duration,avgRating,difficultyLevel,leafNodes,childNodes,endDate

cbplan.allowed.fields.update=name,endDate,id,isApar,contextData,status,contentList
cb-plan.update.publish.authorized.roles=MDO_LEADER
sb.env.chiper.password={{cipher_password}}

elastic.required.field.cb.plan.json.path=/EsRequiredFields/EsRequiredFieldsCbPlan.json
elasticsearch.host={{ elasticsearch_host }}
elasticsearch.port={{ elasticsearch_http_port }}
elasticsearch.username={{ elasticsearch_username }}
elasticsearch.password={{ elasticsearch_password }}
cb.plan.v2.index=cb_plan_alias

user.basic.details.filtered=profileCompletionPercentage,karmaPoints,certificateCount,postCount
cb.plan.batch.size=5


learning_service_vm_base_url=http://{{ learningservice_ip }}:8080/learning-service
system.content.update.url=/system/v3/content/update/
spring.kafka.content.metadata.update.topic.name={{env}}.vod.content.meta.update
spring.kafka.content.metadata.update.consumer.group.id=vodContentMetaUpdateConsumerGroup
vod.bucket.prefix=gs://{{videostream_bucket}}/
vod.stream.url.prefix=https://{{domain_name}}/stream-store/

spring.kafka.bootstrap.servers={{ kafka_servers_list }}
non.text.fields=isApar,createdAt,endDate

sb.search.service.host=http://search-service:9000
sb.composite.v4.search=/v4/search
cb.search.limit=500
cb.search.offset=0
cb.search.access.settings.enabled=true

#notification Service
notification.service.host=http://notification-service:9000/
notification.async.path=v2/notification/send
notification.support.mail={{sunbird_notification_sender_email}}
sb.service.url=http://learner-service:9000/
sunbird.user.search.endpoint=private/user/v1/search
cb.wrapper.notification.host=http://cb-notification-wrapper-service:8081/
cb.wrapper.notification.path=notifications/create

cb.cache.course.ttl={{cb_cache_course_ttl|default('60000')}}
cb.cache.ttl={{cache_course_ttl|default('60')}}

access.rule.ttl.minutes={{access_rule_ttl_minutes|default('30')}}

promotional.content.cache.max.size=5000
promotional.content.cache.warming.enabled=true
promotional.content.cache.batch.size=500
promotional.content.cache.max.query.size=5000
promotional.content.read.fields=identifier,courseCategory,contentType,posterImage,mediaType,reviewStatus,status,batches,creatorLogo,language,organisation,primaryCategory,name,avgRating,programDuration,additionalTags,duration
promotional.content.user.cache.ttl.seconds=14400
promotional.content.rules.cache.expiry.ms=14400000

user.profile.tag.value=Rozgar Mela
user.profile.tag.bitmap.key=rozgarMelaTag

cios.search.limit=100
cios.search.offset=0
cios.integration.search.host=http://cios-content-service:7001
cios.integration.search=/ciosIntegration/v1/search/content
external.content.read.endpoint=/cios/v1/content/read
cbpores.service.host=http://cb-pores-service:7001
org.search.list.batch.size=100
content.service.retire.url=/content/v4/retire

access.course.cache.ttl.seconds=7200
cb.plan.caffine.cache.max.size=50000



kafka.topic.competency-acquired={{env}}.user.competency.mapping.event
user.competency.cache.ttl.seconds=1800

user.issue.certificate.for.event.topic={{env}}.event.generate.certificate.request
user.competency.mapping.event.topic={{env}}.user.competency.mapping.event
external.training.bulk.upload.table=external_training_bulk_upload
external.training.enrolment.table.name=user_external_training_enrolments
external.training.enrolment.batchlookup.table.name=external_training_enrolments_batch_lookup
external.training.user.bulk.upload.topic={{env}}.external.training.bulk.upload
external.training.user.bulk.upload.topic.group=externalTrainingBulkUpload
external.training.user.bulk.upload.container.name=externaltrainingbulkupload
bulk.upload.csv.delimiter=,

#Cloud Storage Service properties
cloud.storage.type.name={{ cloud_service_provider }}
cloud.storage.key={{ cloud_storage_key }}
cloud.storage.secret={{ cloud_storage_secret | replace('\n', '\\n')}}
cloud.container.name={{sb_cb_ext_container}}
cloud.profile.image.container.name={{ sbworkflow_cloud_storage_content_bucketname }}
cloud.storage.endpoint={{ cloud_storage_endpoint }}

external.training.user.bulk.upload.sample.file.name=ExternalTrainingBulkUploadSampleFile.csv

external.training.default.poster.image=https://portal.qa.karmayogibharat.net/content-store/content/do_114482328087511040164/artifact/do_114482328087511040164_1767862315726_coursethumbnail91767862315281.jpg
event.read.endpoint=/event/v4/read
domain.host=https://portal.qa.karmayogibharat.net/

logging.level.root=WARN
cb.plan.cache.ttl.minutes=60
content.health.redis.db.index=12

enrolment.dictionary.request={"request":{"userId":"%s","identifier":%s}}
enrolment.dictionary.url=/v1/user/enrol/dictionary
lms.host=http://lms-service:9000/
moderated.course.search.request={"request":{"filters":{"contentType":["Course"],"courseCategory":["Moderated Course","Moderated Program","Moderated Assessment"],"status":["Live"],"secureSettings.organisation":"%s"},"fields":["identifier"],"sort_by":{"createdOn":"desc"}}}

org.eligibility.elasticsearch.host={{ sb_es_host }}
org.eligibility.elasticsearch.port={{ sb_es_port }}
org.eligibility.elasticsearch.username={{ sb_es_username }}
org.eligibility.elasticsearch.password={{ sb_es_password }}
org.eligibility.index=org_eligibility_alias
elastic.required.field.org.eligibility.json.path=/EsRequiredFields/EsRequiredFieldsOrgEligibility.json

lms.enrollment.details.url=/v3/user/enrol/courses/details

cbplan.enriched.content.fields=identifier,name,description,contentType,duration,primaryCategory,status,createdOn,lastUpdatedOn
cb.plan.v3.batch.size=5
cb.plan.v3.cache.ttl.minutes=60
cb.plan.v3.caffine.cache.max.size=5000
cb.plan.v3.redis.cache.ttl.seconds=3600
cassandra.query.limit.primary.key=1
cassandra.query.limit.user.extended.profile=10000
extended-content-read-endpoint=content/v1/extended/read

usergroup.update.authorized.role=MDO_LEADER
