# Logger
LOG_LEVEL=INFO

# Qdrant 
QDRANT_URL={{ qdrant_url }}
QDRANT_DEPARTMENT_COLLECTION_NAME=departments
QDRANT_COMPETENCY_COLLECTION_NAME=competencies
QDRANT_ACRONYM_COLLECTION_NAME=abbreviations
QDRANT_ROLE_COLLECTION_NAME=role_designations
QDRANT_RELEVANT_COLLECTION_NAME=relevant_course
QDRANT_DESIGNATION_COLLECTION_NAME=designation_course
QDRANT_GROUP_COLLECTION_NAME=designation_group
QDRANT_DOMAIN_COLLECTION_NAME=domain_courses
QDRANT_SECTOR_COLLECTION_NAME=sector_course
QDRANT_RETRIEVAL_MODE=DENSE
QDRANT_DENSE_MODEL={{ qdrant_dense_model }}
QDRANT_SPARSE_MODEL={{ qdrant_sparse_model }}

# IGOT
KB_BASE_URL=https://{{ domain_name }}
KB_AUTHORIZATION_TOKEN={{ bearer_token }}

#Gemini confiuration
GEMINI_MODEL={{ course_recommendation_gemini_model }}
MODEL_TEMPERATURE=0
GOOGLE_PROJECT_ID={{ course_recommendation_google_project_id }}
GOOGLE_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=gcp_gemini_credentials.json

# OpenAI
OPENAI_API_KEY={{ course_recommendation_openai_api_key }}
OPENAI_EMBEDDING_MODEL={{ course_recommendation_openai_embedding_model }}

# Redis
REDIS_HOST={{ kp_redis_ip }}
REDIS_PORT={{ redis_port }}
REDIS_DB=0
REDIS_TTL=43200

# Postgres
POSTGRES_DATABASE_USERNAME={{ course_recommendation_psql_username }}
POSTGRES_DATABASE_PASSWORD={{ course_recommendation_psql_password }}
POSTGRES_DATABASE_HOST={{ postgresql_host }}
POSTGRES_DATABASE_NAME=course_recommendation
POSTGRES_DATABASE_PORT={{ postgresql_port }}

##

