model={{nlp_search_gemini_model_pro}}
project={{nlp_search_gcp_gemini_project_id}}
location=us-central1
max_output_tokens=8192
temperature=0
top_p=0.95
top_k=1
GOOGLE_APPLICATION_CREDENTIALS=/app/gcp_nlp_search_credentials.json
nlp_search_instruction_prompt="find keywords from the text within square braces. \n Keywords should be name of course which user is trying to search. If the search term seems to be course name itself, return search term as it is as shown in examples. Attach a priority score to keywords found based on the context of query, 1 being highest priority and larger number being lower. \n Response should be in json format as shown in Example section. \n Don't give code, just the keywords. \n ["
nlp_search_example_prompt="]\nExample: \n Query: find courses related to data mining, software architecture and AI \n Response: {\\"keywords\\" : [{\\"keyword\\" : \\"data mining\\", \\"priority\\":1}, {\\"keyword\\" : \\"software architecture\\", \\"priority\\":2}, {\\"keyword\\" : \\"AI\\", \\"priority\\":3}]} \n \n Query: Course 19th Jan \n Response: {\\"keywords\\" : [{\\"keyword\\" : \\"Course 19th Jan\\", \\"priority\\":1}]} \n\n Query: Vikshit_bharat-course-2025 \n Response: {\\"keywords\\" : [{\\"keyword\\" : \\"Vikshit_bharat-course-2025\\", \\"priority\\":1}]} \n\n Query: course by manohar kumar author\n Response: {\\"keywords\\" : [{\\"keyword\\" : \\"manohar kumar\\", \\"priority\\":1}]} \n\n Query: Curated Prg - Ivoryf Schuppea\n Response: {\\"keywords\\" : [{\\"keyword\\" : \\"Curated Prg - Ivoryf Schuppea\\", \\"priority\\":1}]} \n Answer:"

max_search_len=400
