model={{nlp_search_gemini_model_pro}}
project={{nlp_search_gcp_gemini_project_id}}
location=us-central1
max_output_tokens=8192
temperature=0
top_p=0.95
top_k=1
GOOGLE_APPLICATION_CREDENTIALS="gcp_nlp_search_credentials.json"
nlp_search_instruction_prompt="find keywords from the text within square braces. \n Keywords should be name of course which user is trying to search. \n Response should be in json format as shown in Example section. \n Don't give code, just the keywords. \n ["
nlp_search_example_prompt="]\nExample: \n Query: find courses related to data mining, software architecture and AI \n Response: {\\"keywords\\" : [\\"data mining\\", \\"software architecture\\", \\"AI\\"]} \n Answer:"

